[2019-05-08 00:25] dougbtv opened #3 "Implement GET command"
Example provided by Tomo @ https://github.com/containernetworking/plugins/blob/master/plugins/ipam/static/main.go#L72

[2019-05-15 13:02] hshtel opened #4 "Multus: error in invoke Delegate del - "macvlan": Error deallocating IP: ETCD get error: context deadline exceeded]"
Hello Dear;

I am trying your suggestion in this issue https://github.com/intel/multus-cni/issues/144
and thanks for this plugin, but when I try to use it as described in the guide I have below error:
[code]

below is my files:

[code]
can you please advise.

[2019-05-16 08:13] hshtel commented on #4
@dougbtv is it possible because we have to provide required authentication so the plugin will be able to communicate with etcd endpoint?

[2019-08-23 14:46] crandles opened #12 "Add Kubernetes CRD backend"
Add a Kubernetes backend for storing IP Pool utilization.

Thinking of something like this:
[code]

Inspired by calico's [IPAMBlock](https://godoc.org/github.com/projectcalico/libcalico-go/lib/apis/v3#IPAMBlockSpec)

Also, something cool they do with their IPAMBlock allocation spec is just store the "ip index" that is used, instead of the ip. In the above example, that would be the 0th, 1st, and 3

[2019-08-27 13:24] dougbtv opened #14 "Multiple IP addresses (especially IPv4/IPv6 for dual stack)"
Mostly opening for my own notes, but, with IPAM CNI plugins you can return multiple addresses, would we like to allow users to specify say -- two ranges, IPv4 & v6.

[2019-08-27 13:41] dougbtv opened #15 "Assign IP address statically via CNI_ARGS and also mark it as allocated"
(again for my own notes, quickly! I'll add more detail here later)

Gist is... With the static CNI IPAM plugin, you can ask for an address statically via CNI_ARGS, can we extend whereabouts to be aware of which IP addresses have been assigned statically, and store those, to no longer allocate them.

[2019-09-09 18:31] crandles commented on #12
I have a working implementation  I hope to share soon. I went with the CAS-loop approach and diverged from the above yaml example slightly. Otherwise, I need to add additional tests and finish integrating with the build scripts.

I have used the build tools from the `kubebuilder` project to facilitate creating the CRD type.

[2019-09-19 10:14] currycan opened #16 "how to config multi etcd endpoint"
Hello,
   how to config multi etcd endpoint?

[2019-09-19 15:35] dougbtv commented on #16
Thanks for the question @currycan -- I think this is one we need an enhancement for.

The line in question is here: https://github.com/dougbtv/whereabouts/blob/master/pkg/storage/etcd/etcd.go#L27

That needs to accept a list, and according to the docs it of course can: https://godoc.org/github.com/coreos/etcd/client#Config

This will also likely require an update to the config that we provide, htt

[2019-09-19 19:54] dougbtv opened #18 ":latest tagged docker image hanging"
Winds up hanging and just leaving the container in the containercreating state. Logs look like:

[code]

It also leaves a hanging whereabouts process on whatever machine it ran on.

For now I created the `dougbtv/whereabouts:v0.1` docker image and added that to the daemonset-install.yml

[2019-09-20 01:22] currycan opened #19 "create pod failed"
Hello,
      I just run whereabouts and multus in my k8s cluster, the cni plugin run well,but when I create the pod, the pod is undering ContainerCreating. The config and manifest files as follow:
**macvlan-conf.yaml**
[code]
**test-macvlan.yaml**
[code]
And run the `kubectl describe po test-macvlan-6c5975b967-gpckc` info as follow:
[code]
kubelet info
[code]
is there any thing wrong with my confi

[2019-09-20 01:23] currycan commented on #16
Thanks for you reply!

[2019-09-20 01:33] currycan commented on #19
Hi,
    sorry for that the json format is wrong. The right config is here:
[code]
But it also doesn't work:
[code]

[2019-09-20 01:38] currycan commented on #19
whereabouts.log is here
[code]
BTW, the etcd run as systemd

[2019-09-20 01:44] currycan commented on #19
I'm so happy to tell you , I set the etcd only one endpoint, it works!
[code]

[2019-09-23 01:22] currycan commented on #19
close

[2019-10-09 12:08] crandles commented on #12
How this looks right now:
## cni-config
[code]

## example pool resource

[code]

[2019-10-09 12:22] crandles commented on #12
Preference on an API string? I made this one up: `apiVersion: whereabouts.cni.k8s.io/v1alpha1`

[2019-10-09 13:49] dougbtv commented on #12
I'll give a +1 to that api string, looks good and is similiar to what we use for network-attachment-definitions, awesome, thanks @crandles

[2019-11-20 06:18] currycan opened #22 "pod connect the outside host fail"
Hello,
     I deploy the whereabouts and multus cni in the k8s cluster. And the cluster run in VM not baremetal，I met a problem that the pod connect the outside host fail, but the outside hosts connect pods well. Is there any special config in VM cluster? Thank you!

[2019-11-20 06:53] #19 closed

[2019-11-20 06:53] currycan commented on #19
/close

[2019-11-25 20:18] dougbtv commented on #22
Hey @currycan -- any chance you can provide the CNI configurations for the network attachments? That'd be helpful.

There's no known issues with a VM cluster, and in fact my typical cluster for testing whereabouts is k8s on VMs.

Also if you can also provide a `ip a` and `ip route` for a pod that has trouble with connectivity outside the cluster. Thanks

[2019-11-25 20:18] dougbtv commented on #22
Hey @currycan -- any chance you can provide the CNI configurations for the network attachments? That'd be helpful.

There's no known issues with a VM cluster, and in fact my typical cluster for testing whereabouts is k8s on VMs.

Also if you can also provide a `ip a` and `ip route` for a pod that has trouble with connectivity outside the cluster. Thanks

[2019-11-26 19:21] dougbtv opened #24 "Removed git diff from .travis.yml"
I removed this line in #23 -- it was failing on me, and I figured it "should have" worked with the changes that were made in that PR, so I removed it for the time being.

But, I wanted to track it. I'm guessing it's intended to fail if code generation wasn't performed? It should probably get put back together.

[code]

[2019-11-26 21:30] crandles commented on #24
Correct, that was the intention with this. There are some deepcopy `*.go` files and a CRD yaml generated that update depending on the `IPPool` struct field / comments -- this validates the code that is checked in matches the latest regenerated artifacts.

[2019-11-28 01:18] currycan commented on #22
@dougbtv Hi, I think there are no problems with the configuration, and there are no problems running on the bare metal host. I used multus + ipvlan + whereabouts to build the pod network, and I was surprised that any virtual IP running on the VM, such as the virtual IP created by keepalived, could not access the host of the Layer 3 network. I wonder if  I  configure the security configuration item

[2019-11-29 07:49] currycan commented on #22
Hi,
   The problem is solved now, our network engineer set some limitation for the Ips. Thank you all the same.

[2019-11-29 07:49] #22 closed

[2019-12-03 17:44] NicolaiSchmid opened #26 "Specify multiple IP ranges"
Is there a possibility to specify multiple IP ranges that are not next to each other.

[2020-01-02 18:57] dougbtv commented on #18
Solved with update to default to CRD method :+1:

[2020-01-02 18:57] #18 closed

[2020-01-30 07:46] pradeepcp1 opened #34 "IPV6 support for range"
Sorry, it's not issue but query,
1. Does whereabout support start and End range for IPV6?
2. Also is the exclusion range is applicable/useable for IPV6 aswell?
Example:

"range": "2001::0/116",
        "exclude": [
           "2001::0/122",
           "2001::9999/128"
        ],

[2020-03-11 06:13] clivez opened #35 "The "range_end" IP is not available"
But actually this last IP is not available, for example if I use the configuration
[code]
only 192.168.2.10-192.168.2.14 can be allocated, 192.168.2.15 is not available.

[2020-03-24 12:11] crandles commented on #35
You are correct. Before the range_end parameter was added the allocation code preferred to skip the last IP in the subnet range on the assumption that it is a broadcast address.

I think this was carried over to the range_end parameter, but I do not think it was necessarily the best choice. I'll take a closer look to see if this can be uncoupled.

[2020-03-25 05:51] clivez commented on #35
Thank you!

[2020-04-06 16:34] sunvim commented on #26
no time to wait, so I implements it, please see https://github.com/Ankr-network/opennet

[2020-04-27 12:34] dougbtv opened #37 "Update etcd deployment method"
https://github.com/coreos/etcd-operator is now archived, need to update the method used

[2020-04-27 18:48] #35 closed

[2020-05-15 18:56] dougbtv opened #38 "Exclude broadcast address?"
Currently, we'll assign the broadcast IP address. This is known, however, is it desireable? Take this for example:

[code]

[2020-05-21 09:54] currycan opened #39 "healthcheck failed with macvlan cni"
Hi,
I create pod with macvlan cni based whereabouts, I config the healthcheck probe when creating a pod, but the probe failed.
I think it most maybe the macvlan cni  are not supported, it returns error like 'no route to host'.
How to deal with it?

[2020-05-21 11:42] crandles commented on #39
I believe the health-check probes are run via kubelet and utilize its networking access. Does its networking environment have access to the routes you are utilizing? (`ip route`)

What `mode` of macvlan are you using? `passthru` for instance, may not allow allow intranode communication.

This likely is not related to whereabouts specifically.

[2020-05-22 07:15] clivez opened #40 "A query about the relationship between this project and openshift/whereabouts-cni"
Sorry, this should not be an issue but just a query.
I see there is also another project openshift/whereabouts-cni, what is the relationship between the two projects? Should I follow this one? Or the openshift one will be some kind of official release interface?
Thank you.

[2020-06-08 01:33] KoJJang opened #42 "range_end parameter doesn't work with K8S replicaSet."
Hello I'm newbie in K8S and multi CNI networking.

I tested whereabout with below template and conflicted some issue.
[code]
As you see above, I want to apply IP only in 192.168.2.225 - 192.168.2.226. But when I set in deployment's or statefulset's replicas 3 or over, k8s made pod that have IP over 192.168.2.226 like 192.168.2.227.

I was hoping not to generate a pod on k8s because it was over IP

[2020-06-11 03:21] KoJJang commented on #42
@crandles
Yes, I think that change made some confusion. Maybe you intended to include range_end IP to IP Pool. But  below code is making pool more bigger than range_end.
`end = end.Add(end, new(big.Int).SetInt64(1))`

So as @dougbtv mentioned, IP pool will be `range_start - range_end+1`

[2020-06-11 14:21] crandles commented on #42
The intent was to make the `range_start - range_end` inclusive (#35), not to allow for range_end+1 IPs. I will try to add some unit tests to highlight this issue.

[2020-06-13 16:02] crandles commented on #42
Looks like that was a bad change. See #43 for the fix + tests.

[2020-06-17 11:44] #42 closed

[2020-07-15 09:13] ashish-billore commented on #15
This is a very useful and pretty common scenario.
@dougbtv Could you please suggest any plan to include this feature? Thanks!

[2020-07-15 09:14] ashish-billore commented on #14
Yes, actually it makes sense. Could you please suggest if it is planned to be implemented. Thanks!

[2020-07-16 15:56] dougbtv opened #46 "field compatibility with host-local"
It's been pointed out to me that the field names for host-local and whereabouts differ. While it's likely that not all field names can match, it may be useful for some to convert their host-local implementations to whereabouts to provide further field name compatibility.

For example, host-local uses `subnet` whereas whereabouts uses `range`.

[2020-07-16 17:25] ohamada opened #48 "relation between this repo and openshift/whereabouts-cni"
Hi, what is the relation between this repository and https://github.com/openshift/whereabouts-cni ?

So far they seem pretty much the same. Is there any sync between them?

[2020-07-21 15:57] dougbtv commented on #48
Hi @ohamada ! There is a sync between them. All the changes happen in this repo first (this is the "upstream") and then everything goes "downstream" into openshift/whereabouts-cni, and from there it makes its way into Red Hat products, such as OpenShift.

Thanks for the question! I should probably update the readme.

[2020-07-21 15:59] dougbtv opened #50 "Enhancement: Allow re-use of ranges per namespace"
Currently an `IPPool` will be created in the namespace as specified in the Kubernetes config (for example), so in the default install this means that the `IPPool` CRs are created in `kube-system`.

What if we added an option to make a pool namespaced, so you could re-use a pooled range between two different namespaces?

I had a recent conversation where this was brought up. I think in the context

[2020-07-22 09:54] ashish-billore commented on #3
This is a very useful feature.
@dougbtv please suggest if this would be included soon, I can help if needed. Thanks!

[2020-07-22 13:38] crandles opened #51 "CRDv2 data model"
The current data model for the IPPool CRD stores allocations for a given range in a single Kubernetes resource.

## Known Issues
- Under certain failure scenarios IP allocations may become orphaned
  - System failures, force deletion of pods (without a grace period)
  - not a specific problem with our data model: this seems to be a behavior of (kubelet?) kubernetes
- Using (and prevent the over-us

[2020-07-22 15:43] dougbtv commented on #51
+1 re: the solution for configuring the pod as the owner of the IP allocation, that's quite excellent, great suggestion.

Definitely up for this change / refactor. Thanks for the outline, looking forward to the CRD proposal.

Another consideration: upgrade path (I'll think on this one, too)

[2020-07-23 21:24] dougbtv commented on #51
Another quick thought on the labels, I have this idea about a "sticky IP address using MAC address" -- so if a workload comes back up with the same mac address, they get the same IP address.

This could be a separate store/CRD, but... we could label the IP address CR with a mac address to query for it. We could also release the ownership when this is used so that the IP CR sticks around, too.

[2020-07-23 21:58] crandles commented on #50
`namespace` could be an option in the `kubernetes` section of the CNI config used to configure whereabouts.

https://github.com/dougbtv/whereabouts/blob/158a70d5bca503785ce40cd99748782f3f4c79fa/pkg/types/types.go#L57-L60

Currently, whereabouts installs a kubeconfig that the `whereabouts` cni plugin later uses at time of `CNI ADD/DEL`. To aid that, we grant it access via the RBAC definitions in th

[2020-07-23 22:02] crandles commented on #50
In an earlier implementation of the CRD client I used the pods namespace as the namespace of the range, and granted the whereabouts cni service-account access to IPPools across all namespaces.

[2020-07-28 10:57] ashish-billore opened #52 "GET Option"
**First**: This is really not an issue, it's just a query and suggestion, so please feel free to resolve it as appropriately.

**Query**:
- I wish to query the current IPAM allocation status. Basically, I want to get a list of:

_type IPReservation struct {
	IP          net.IP `json:"ip"`
	ContainerID string `json:"id"`
}_

This could be very useful in several cases:
1. I want to report current al

[2020-07-29 01:20] ashish-billore commented on #52
A Note: This is different than what is mentioned here:
https://github.com/dougbtv/whereabouts/issues/3

[2020-08-03 12:56] dougbtv opened #53 "CRD v1beta1 update to v1"
CRD version field is out of date, needs to be updated to v1

[2020-08-04 18:52] dougbtv commented on #52
@ashish-billore interesting perspective on the usage for GET. I'm with you, from a CNI spec perspective, it's not exactly what you'd return.

That being said, I agree that giving visibility of this data in a way that's machine legible to then make it human legible (e.g. via grafana dashboard!) is very useful.

I'm not... exactly sure on the right way to expose this. Hrmmm....

Here's a possibility

[2020-08-07 08:02] ashish-billore commented on #52
@dougbtv thanks for your perspective and insight into possibility of GET option.
For now, I am inclined to go with the approach you have suggested above (invoke externally whereabouts executable), so will try it out. Thanks much!

[2020-08-13 08:15] ashish-billore commented on #52
@dougbtv I am closing this issue as invoking the standalone binary to get info satisfies my requirement for now, thanks!

[2020-08-13 08:15] #52 closed

[2020-08-13 12:57] crandles commented on #52
FYI, this information is accessible via kubectl: `kubectl get ippool ...` if you are willing to work with the existing CRD format.

[2020-08-13 15:55] dougbtv opened #55 "Configuration validation (kubeconfig, or more?)"
In #54 there was some discussion about validation of the configuration when a kubeconfig is not found. We currently report this in the storage package when this isn't found. This makes sense in the regard that it's where we're calling kubernetes (e.g. for CRs), however... It's because you have misconfigured the whereabouts parameters.

While we could extend the configuration package to have a chec

[2020-09-03 03:51] xagent003 opened #57 "Create Whereabouts config flatfile by default"
The install_cni.sh script already creates a .kubeconfig file and places it in /etc/cni/net.d/whereabouts.d/

So why not just go ahead and create the default whereabouts.conf that refers to this as well?

`{
  "datastore": "kubernetes",
  "kubernetes": {
    "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig"
  },
  "log_file": "/tmp/whereabouts.log",
  "log_level": "debug"
}`

As t

[2020-09-03 18:23] dougbtv commented on #57
@xagent003 -- this is a superb idea. I love it.

Do you mind making a PR with your changes? Otherwise, I'll try to get in the upcoming few weeks.

[2020-09-03 18:25] dougbtv opened #59 "Add warnings to logs for unknown configuration options"
Contributor @rootfs reported that a static route wasn't created as expected. Thank you for the report!

This could be a regression, also possibly the unit tests need to be updated to catch this

[code]

[2020-09-03 18:43] rootfs commented on #59
also if `route` can accept interface name as below, that'll be great
`{"dst": "10.123.123.0/24", "gw": "10.85.46.245", "dev": "br1"}`

[2020-09-04 04:46] xagent003 commented on #57
@dougbtv I already submitted one here https://github.com/dougbtv/whereabouts/pull/58

[2020-09-07 19:08] ustuzhanin commented on #26
#60

[2020-09-09 17:20] dougbtv opened #62 "[feature] Dual stack IP assignment"
One thing that could potentially be possible with Whereabouts is to assign multiple IP addresses to handle a dual stack scenario.

The [CNI spec for IPAM shows that the well-known `ips` field accepts multiple instances](https://github.com/containernetworking/cni/blob/master/SPEC.md#ips)

Potentially, we could account for this using a "list of ranges" and have an arbitrary number of ranges allowed.

[2020-10-26 17:50] dougbtv opened #68 "Update CRDs to v1"
From  `v1beta1` (Chris' PR might actually fix this, didn't check, but, wanted to make a note)

[2020-11-06 19:25] dougbtv opened #70 "Pod gets stuck in ContainerCreating state if first attempt of CNI ADD fails (Multus CNI, Whereabouts IPAM)"
See: https://github.com/intel/multus-cni/issues/578
Also: https://github.com/kubernetes/kubernetes/issues/96200

I have a possible work-around, my thought was "Is it really an error when we can't deallocate an IP? I mean... it's warning worthy, but, in the case where a pod is created, can't get assigned an IP, and then a CNI DEL comes along... it's just a warning to say I can't do that" and when I

[2020-11-07 01:34] TothFerenc opened #71 "In case of IPv6 range, exclude option does not work"
Hello,

I use Multus with the following IPAM section:
[code]
The first allocated IP should be `caa5::8000`, but whereabouts gives `caa5::1`, `caa5::2`, and so on:
[code]

Does exclude work in case of IPv6 subnet?

[2020-11-10 09:19] shivakumargn commented on #70
Tried this. Seems to do the job. DEL was failing to deallocate an IP that was not allocated. The success return with warning seems to be the right behavior.

[2020-11-11 11:35] TothFerenc commented on #71
Hi @dougbtv !
This fix has been verified on our end, it works fine.
Can you please check and merge it if you agree?
Thanks!

[2020-11-11 11:40] TothFerenc commented on #71
Hi Shiva! Thanks for the fix. Please create a PR in this repo (not on your fork). Thanks!

[2020-11-12 17:30] shivakumargn commented on #71
My bad, done it right now.

[2020-11-12 23:33] #71 closed

[2020-11-13 13:24] #70 closed

[2020-11-13 15:32] shivakumargn opened #75 "Node crash results in IPs not getting deallocated"
If a kubernetes node crashes, whereabouts assigned IPs are not deallocated. New pods do not get the IPs.

A monitoring capability is currently a missing capability.

[2020-11-13 15:38] shivakumargn commented on #75
I have noticed that if the crashed node is brought back up (even after a long time), the IP gets cleared.

In the absence of a clean solution, a temperory resolution can be manually clear the etcd. But due to the behavior of IP getting cleared after the crashed node comes up, I am not sure if cron job solution is without side-effects as below:

1. Node crashes
2. Cron job clears the IP
3. IP is as

[2020-11-16 15:06] crandles commented on #51
I am having second thoughts about this idea. (using a per-ip resource and labels to query for subnet allocations)

IPv6 subnets are very large, and there are many possible subnets; generating 128 labels to enable query lookups seems like a poor design. Additionally, I worry how well this scales.

Alternatively: I believe Kubernetes resources are limited to ~1MB in size (based on etcd limit); the c

[2020-11-16 18:54] dougbtv commented on #75
Thanks for the report. Agreed, some monitoring and cleanup routines are necessary. I think it's possible there needs to be a Whereabouts controller that can perform the cleanup after some given period of time -- or... The cron job actually sounds very pragmatic.

I wonder how the IPs get deallocated when the node comes up, that's a mystery to me. Is it that a CNI DEL is finally called when the nod

[2020-11-16 19:30] crandles commented on #75
I suspect when the node starts, kubelet likely cleans up the state associated with the node as it is able to delete pods (that were likely in an unknown state).

[2020-11-18 12:11] shivakumargn commented on #75
Right now I do not have a setup to try. Once I am able to will share the details.

[2020-12-11 11:24] iaas365-dev commented on #59
Hello @dougbtv , first of all thanks very much for your effort developing this code.
Would you mind sharing when this issue could be solved?, being able to change the default route of a pod or add static routes is core for our use case.
Thanks in advance.

[2020-12-11 14:51] Ieneya opened #78 "Whereabouts plus Multus macvlan cni not working"
Hi,
      I have created a cluster , installed Multus on top of it ,created network attachment definition using macvlan as per QuickStart Guide [https://github.com/intel/multus-cni]

while creating network interface in ipam section it's "host-local" which will communicate in the same node and it worked.

For communicating across nodes , I installed whereabouts but the ping didn't work as per this

[2020-12-11 20:07] jdambly-ns opened #79 "Helm chart"
is there a well known helm chart for whereabouts?

[2020-12-11 20:23] dougbtv commented on #78
Hi @leneya could you enable logging and show us the logs? that would be quite helpful, see here: https://github.com/dougbtv/whereabouts/blob/master/doc/extended-configuration.md#logging-parameters

Also, at what point did it fail in the blog article? I think there's been some significant changes to Whereabouts since I wrote the article, would love to update it.

Also, can you show us the output of

[2020-12-11 20:24] dougbtv commented on #79
Not yet, however, it should be as easy using the provided https://github.com/dougbtv/whereabouts/blob/master/doc/daemonset-install.yaml as a baseline.

If you have interest in creating one, I would love to have it contributed if you have any interest! Thanks!

[2020-12-11 20:28] jdambly-ns commented on #79
I wouldn't mind creating one, let me work on a PR. Just so you know we are using multus/sriov/bond-cni/whereabouts on our baremetal clusters. we require helm charts for all our deploys so we are happy to help.

[2020-12-11 20:30] dougbtv commented on #59
Thanks for bubbling this back up @iaas365-dev -- I lost track. Let me try to get it on my list for next week before the holidays :+1:

[2020-12-14 14:55] Ieneya commented on #78
Sorry for late response @**dougbtv**

I have a created a **pod** as shown below
apiVersion: v1
kind: Pod
metadata:
  name: samplepod
  namespace: kube-system
  annotations:
    k8s.v1.cni.cncf.io/networks: kube-system/whereabouts-conf1
spec:
  containers:
  - name: samplepod
    command: ["/bin/bash", "-c", "sleep 2000000000000"]
    image: centos/tools
  nodeSelector:
    second: node2

**whereab

[2020-12-14 19:09] jdambly commented on #79
@dougbtv I created PR for a helm chert here: https://github.com/k8snetworkplumbingwg/helm-charts/pull/1

if this isn't the right place let me know

[2020-12-16 19:28] dougbtv commented on #79
Looks great! Thanks! Merged it :+1:

[2020-12-16 19:28] #79 closed

[2020-12-16 19:32] dougbtv opened #80 "Docs pointer to helm charts"
We could use an update to the whereabouts docs to point to the helm charts as an option for installation.

Helm charts @ https://github.com/k8snetworkplumbingwg/helm-charts

cc: @jdambly (also thanks again for putting together the charts!)

[2020-12-16 20:43] dougbtv commented on #59
@iaas365-dev (and cc: @rootfs )

I think this actually a typo in the given configuration. It uses `route` instead of `routes` (plural!)... this could use better error messaging, possibly. But, I believe the functionality works.

However, changing the default route might be a kind of special case -- there's a couple options here... When I made attempts in whereabouts, linux would complain that it `

[2020-12-17 19:34] dougbtv commented on #78
Hey @Ieneya -- thanks for getting back with all the logs.

So, I don't think this is necessarily a whereabouts issue, whereabouts only concern is to assign the IP address, which looks like it's happening in your output here @

[code]

The additional interface that you created won't necessarily care about what's happened with your default network, so... if there's no ping over the macvlan interface

[2020-12-17 19:34] #78 closed

[2020-12-18 19:35] #80 closed

[2021-01-05 23:50] TothFerenc opened #83 "Negative index numbers in case of /64 IPv6 subnet"
In case we use quite big IPv6 subnets (like /64) during the IP allocation the calculated index value can overflow to a negative number.
Example NAD:
[code]
IPPool content:
[code]
Is it possible to use uint64 to store index value? Maybe [uint128](https://github.com/lukechampine/uint128) would be even better.
Thanks!

[2021-01-09 00:26] tamilselvan2086 commented on #70
Doug - I face the same error in the Openshift 4.5 environment with whereabouts plugin default built in. Do we need to upgrade to latest version to recover this issue? Thanks

[2021-01-14 19:52] dougbtv commented on #70
@tamilselvan2086 are you using the built-in whereabouts in OpenShift 4.5? It was a "tech preview" in OpenShift 4.5 -- so it's not officially supported, but you should be able to upgrade without much issue.

Otherwise, there should be fixes in 4.6+ :+1:

[2021-01-14 19:55] dougbtv commented on #83
@TothFerenc thanks for filing the issue -- and for your keen eye on Whereabouts issues as a whole, I appreciate it!

Good call, I think uint128 probably would work great.

[2021-01-22 21:33] dougbtv opened #84 "When the first hextet is shortened it can cause a crash."
To test this, add to allocate_test.go:

[code]

Notice that it's `fd` in the first octet, if you can change that to `2001` or `fd00`, that will work.

Currently, you'll get an error that looks like:

[code]

I'm starting to put some traces in to see where the logic breaks down for these.

[2021-01-22 21:40] dougbtv commented on #84
Also, of note is that this is reserved address space:

https://www.iana.org/assignments/ipv6-address-space/ipv6-address-space.xhtml

https://tools.ietf.org/html/rfc3513#section-2.5:

[2021-02-11 14:51] dougbtv opened #87 "DNS specification does not appear in pod"
Could be like the reported regression in static parameters not working.

[2021-02-11 14:57] dougbtv commented on #87
If it's specified on the secondary interface, it may not appear and that's expected. May require a docs update.

[2021-02-11 15:26] mardim91 commented on #87
hello Doug,

Below you can find the net-attach-def that I was using to configure dns inside the pod.

`apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: ovs-access
  namespace: test
  annotations:
    k8s.v1.cni.cncf.io/resourceName: ovs-cni.network.kubevirt.io/br-data
spec:
  config: '
    { "cniVersion": "0.3.1", "type": "ovs",
    "vlan": 13,
    "bridge": "br-d

[2021-02-22 18:37] #84 closed

[2021-02-22 18:39] dougbtv commented on #83
@TothFerenc -- do you mind checking out if #89 fixes this up for you?

We refactored how we calculate IPv6 addresses in this one, and would love to know if this logic hit your case. Thanks!

[2021-02-24 20:22] TothFerenc commented on #83
Yes. The reported case looks better now:
[code]
With the new implementation how wide can be an IPv6 subnet?
Does the new arithmetic backward compatible (considering those cases when the old method worked)? Can we upgrade a system by replacing the whereabouts binary while keeping the IP allocations in IPPools?
Thanks!

[2021-02-24 20:36] TothFerenc commented on #83
I got the same offset number for the below cases: IPs are different!
/64:
[code]
/63:
[code]

[2021-03-02 11:27] vtlrazin opened #97 "Same IP address assignment for different POD"
Hi,

By using **docker.io/dougbtv/whereabouts:latest**  in deamonset deployment I get duplicated IP address from whereabouts:

[code]

Thanks,
Vitaliy

[2021-03-10 19:52] dougbtv commented on #97
@vtlrazin -- do you mind providing the CNI configuration and/or NetworkAttachmentDefinition as well? Thanks!

[2021-03-14 21:46] vivekskrishna opened #99 "Centralised IPAM Management"
This is a request/query to see if there is a way to centralise IPAM assigment to a master cluser and then we use it to assign IP' for pods in all other clusters. This helps in centralsing IPAM management wich operationally is simple than configuring pools in each cluster.

Anyway whereabouts can tie in with some 3rd party IPAM software to manage IP address form a central location. ill be useful fo

[2021-03-15 08:17] ykulazhenkov commented on #97
I have the same problem with the image with tag latest(sha256:ee6ef2e0a262cf931f6058d18be0b6ec51e2b46a26742077a31093785b0dbff8).
I'm using Kubernetes 1.20 with containerd runtime (1.4.4)

[code]
NetworkAttachment
[code]
I deployed 4 POD, all get IP: **10.199.199.100**

There is only 1 entry in ippool `spec.allocations`
[ippool.txt](https://github.com/k8snetworkplumbingwg/whereabouts/files/6139698/

[2021-03-19 13:06] k100956 commented on #97
I have the same problem with the image docker.io/dougbtv/whereabouts:latest .
And when the pod is removed, Whereabouts does not release IP address with  docker.io/dougbtv/whereabouts:v0.3

[2021-03-24 04:28] yaocw2020 opened #100 "Address already in use error"
Use helm to install whereabouts with tag latest(e9b7828b942a3e30a2919ac4a78744e65af1f092) in k3s(v1.20.4+k3s1)

Here is cni config
[code]

Here is ippool
[code]
Pod create failed and describe the pod.
[code]

[code]

[2021-03-29 18:17] richardelling commented on #97
There is a subtle bug in commit b5d36a4, where the size of the IP address isn't normalized. Later, when compared, the size check fails causing all allocations to be set to index "0". Hilarity ensues.

A workaround is to force the iterator to 16-byte, thusly
[code]
however, there may be more cases where this size mismatch could occur.

Also, it is especially easy to trip on this if `range_start` is

[2021-03-29 20:13] s1061123 commented on #97
Thank you for your precious advice, @richardelling !
Created candidate fix, `quay.io/s1061123/whereabouts:fix_size`. Could you try it if you don't mind it?

[2021-03-29 20:44] richardelling commented on #97
it appears to work for my limited testing

[2021-03-29 20:46] s1061123 commented on #97
thanks!

[2021-03-29 20:53] #97 closed

[2021-03-30 02:08] ctrahey commented on #100
This may be related to what I am seeing, though my error is different because I am ensuring my test pods are scheduled to different nodes.

When using the kubernetes data store, I observe that every allocation just clobbers the previous (I only ever see the most recently launched pod under allocations podref) and they only ever get the first address in the range.

[2021-03-30 02:32] ctrahey commented on #100
I have confirmed that [Issue 97](https://github.com/k8snetworkplumbingwg/whereabouts/issues/97) was my issue, and I suspect it might be yours too.

I built master just now, pushed to my mixed-arch repo [ctrahey/whereabouts](https://hub.docker.com/layers/ctrahey/whereabouts/fix-97/images/sha256-6192cb355bdddd0212b7db3ad81bdff2862eba9f5d33bfb96f78ed59c8955d28?context=explore) with the tag `fix-97`

[2021-03-30 02:35] ctrahey commented on #97
Many thanks - a fresh build of master works great!

[2021-04-13 23:05] TothFerenc opened #102 "CmdDel fails if NAD contains chained CNI plugins"
Example NAD which contains a chained `sbr` CNI:
[code]

Pod creation goes smoothly, but once we delete the Pod, we get this CmdDel failure:
[code]
That extra DEBUG line is added by me to dump `n.IPAM` content. As we can see, most of the IPAM parameters are not set, especially the mandatory Range parameter.

[2021-04-14 00:07] TothFerenc commented on #102
`host-local` IPAM behaves the same way. It cannot release the IP if the NAD has chained plugins inside.

Is this a Multus issue then?

[2021-04-22 04:58] kevinglasson opened #103 "Same IP address for different pods"
I am getting the same issue that was 'fixed' in #97

I have tried using the two suggested images that have the latest fix:
- quay.io/s1061123/whereabouts:fix_size
- ctrahey/whereabouts:fix-97

Here are my logs from two separate nodes, you can see two pod id's reserving the same IP address.

1
[code]

2
[code]

The ippool is still clobbering and only showing one allocation

[code]

[2021-04-22 05:19] kevinglasson commented on #103
I have also just rebuilt from master and am still having the same problem

[2021-04-22 05:22] kevinglasson commented on #103
Here is my NetworkAttachmentDefinition

[code]

My whereabouts conf

[code]

and my sample pod ( I'm creating 2 of these)

[code]

[2021-04-22 05:28] kevinglasson commented on #103
WELL - I have fixed it, although I feel like it is still a bug...

I have added `range_start` and `range_end` to my config making it (otherwise range_end is nil):

[code]

Resulting in:

[code]

[2021-04-26 20:07] dougbtv commented on #103
@kevinglasson -- looks like there's a possibility that our `:latest` tagged image wasn't built with the most recent fixes in the repository, thanks to a review of our images from @s1061123 (thanks Tomo!) we changed our GH repository namespace (from dougbtv to k8snetworkplumbingwg) and apparently the docker build process was broken.

I have an updated image available to latest, so you should be abl

[2021-04-27 01:25] kevinglasson commented on #103
@dougbtv Yep, I can arrange that - I will let you know the outcome when I've tested it

[2021-04-28 15:05] schmaustech opened #107 "Gateway IP Not Getting Passed"
I have the following network attachment definition:

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: brext
  annotations:
    k8s.v1.cni.cncf.io/resourceName: bridge.network.kubevirt.io/brext
spec:
  config: '{
    "cniVersion": "0.3.1",
    "name": "brext",
    "plugins": [
      {
        "type": "cnv-bridge",
        "bridge": "brext",
          "ipam": {

[2021-05-19 05:52] vivekskrishna commented on #99
https://github.com/vivekskrishna/whereabouts

i implemented a sample integration with phpipam and openwisp where the whereabouts cni will use API to eventually assign a IP to a multus interface for a pod and can also track it using some pod annotation for hostname so that if the pod moves to a different worker node, the same IP can be retained if annotated. please do take a look to see if it is so

[2021-05-21 06:08] nelsonpraveen opened #109 "Issue with host-device as main plugin and whereabouts as IPAM"
Hi,
I face an issue when using host-device main plugin in Multus and whereabouts as IPAM.

The network-attachment-definition is given below.

[code]

When I try to deploy the network and use in a POD, the net device in the worker node seems to get deactivated which seems strange.

The log from syslog is:
[code]
The device which was UP and fine becomes 'DOWN' somehow - not sure if whereabouts cause

[2021-05-24 08:27] #109 closed

[2021-05-24 08:28] nelsonpraveen commented on #109
The same combination works in a VM setup. This issue occurs only in baremetal setup which must be because of host-device plugin (sriov is used in BM setup). Closing the issue

[2021-05-25 13:28] dougbtv opened #110 "Duplicate IP addresses at scale: Possible read/write locking problem?"
@pperiyasamy has reported that they're seeing duplicate IP addresses on a large k8s cluster.

He's pointed out that a lock may not be acquired like it is in the etcd implementation (the same problem does not appear when using the etcd backend)

https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/pkg/storage/storage.go#L82-L108

Does this need to have a further locking mechanism?

How t

[2021-05-25 13:40] pperiyasamy commented on #110
/cc @JanScheurich

[2021-05-25 13:48] crandles commented on #110
The Kubernetes CRD backend does not use locks, but does use what was at the time a recommended alternative: https://github.com/k8snetworkplumbingwg/whereabouts/blob/5e8cafde59fc910f032df1e58997751920957ca4/pkg/storage/kubernetes.go#L182-L199 -- if I can find a reference I'll add a few links. IMO, using annotations / resource versions and the jsonpatch "transaction" matched closely to how locks are

[2021-05-25 13:56] JanScheurich commented on #110
We see this issue massively (~5 duplicates per IP address) already with a 100 pod deployment in a cluster of 80 node when using a huge /8 IPv4 range. So lack of available IPs we can rule out. In the kubelet logs we observed a huge number of where about retries due to failed patch operations. Apparently the concurrency protection of the patch is working at times but does not prevent duplicate assig

[2021-05-25 14:14] pperiyasamy commented on #110
@crandles I hope this still makes write to succeed just by overwriting an existing ip address mapped to another pod in `p.pool.Spec.Allocations`. that's not wanted, isn't it ?
As Jan mentioned, I think we should use similar approach as implemented for etcd datastore type.

[2021-05-25 14:45] JanScheurich commented on #110
@pperiyasamy : I have not found any specific documentation about the patch operation of the K8s API that would describe the meaning of tests within a patch and how the K8s API reacts to failing tests. My naive interpretation of what **should** happen inside the k8s API server is:
1. Lock the K8s resource to be patched in etcd
2. Read the locked resource
3. Check the tests with respect to the locke

[2021-05-25 14:46] crandles commented on #110
re: upper limit, i meant limit on number of IPs we can allocate. This is going to depend on the maximum size of CRD resources. I'm not sure what the maximum number of address we can store in one pool is.

Correct, but locking doesn't prevent that either.

I just looked at the lock implementation in etcd, and I think we could do something similar by adding an owner or similar annotation to lock the

[2021-05-26 18:49] dougbtv commented on #110
Thanks for the collaborative exchange, and Chris I really like the idea about adding a locking mechanism with an "owner" annotation -- I think that's probably pretty feasible.

Tomo also mentioned the possibility of using some kind of leader election type of mechanism, he had linked:

* https://pkg.go.dev/k8s.io/client-go/tools/leaderelection
* https://github.com/codecentric/kubebuilder-starwars-e

[2021-06-09 07:41] pperiyasamy commented on #110
@dougbtv I too think so, the locking mechanism with an "owner" annotation looks to be simple approach as it can just follow Lock and Unlock syntax which would make [Store APIs ](https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/pkg/storage/storage.go#L28-L33)to be in intact. I guess there won't be still any race conditions with this approach.
leader election is also a good option, bu

[2021-06-11 06:17] flower01840 opened #111 "manually assign macvlan IP to pod"
Hi,
I'd like to manually assign macvlan IP to a pod. it is possible but the pod will have two macvlan IP, one is automatically be attached, another is from pod annotation, so it will waste ip resources.....
Is it possible to assign only one macvlan IP(which defined by me) to a pod?
here is my configuration:
[code]

[2021-06-17 03:21] tardich opened #112 "Missing podref field in ippools.whereabouts object"
Hi, in my cluster at the office, when assigning an IP through whereabouts, I'm seeing this IP reference in ippools.whereabouts object as:

[code]

In my cluster at home, an IP assigned through whereabouts only shows:

[code]

The podref field does not appear, making it hard to find out where this IP is assigned without looking at all network-attachment-definitions. I don't recall having installed

[2021-06-29 15:33] dougbtv commented on #110
Just an FYI that this problem has been under active development.

Essentially, what it comes down to is that Peri and Tomo have discussed at length designs for moving forward, and we have proposed a number of fixes which have been locally tested for general usage, but are awaiting some tests at scale -- this is non-trivial to replicate locally.

Tomo has proposed a leader election pull request @ h

[2021-07-05 11:30] jellonek commented on #50
I have also another idea - named pools. Basically you can add a `networkName` field to stored allocated entry. This will allow to have the same subned usable on a separate physical networks, e.g. set of applications could use a particular subnet on one vlan, or vxlan, while other set of applications can reuse the same subnet on different medium (e.g. different plugin type, or the same with other h

[2021-07-14 16:49] JanScheurich commented on #110
During Peri's and my testing we found out that the actual root cause for the duplicate IPs was an incorrect handling of the K8s client context timeout. Instead of an error, the current IP was returned to the CNI at context timeout, despite the fact that the IP address was not successfully marked as allocated in the IP pool.

With a corrected context timeout handling, both the original Patch API an

[2021-07-22 09:03] maiqueb commented on #112
I think this issue was fixed by https://github.com/k8snetworkplumbingwg/whereabouts/pull/116

Please close the issue if you agree.

[2021-07-22 09:06] maiqueb opened #125 "update the CRD API from `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`"
The following warning is logged when deploying the whereabouts CRs:
[code]

The clock is ticking, we must make sure these are updated before 1.22 is in use.

[2021-08-04 11:42] carezkh opened #130 "IP will conflict when the name of multus secondary interface without prefix 'net'"
Hi everybody!

When i name a multus secondary interface without prefix `net`, for example `hello`. Whereabouts will give `hello` an ip, for example `192.168.122.100`.

This ip will be cleaned up from ippools by ip reconciler, and it will be assigned to other pod, which causes ip conflict!

│ 2021-08-04T11:15:06Z [debug] successfully read the kubernetes configuration file located at: /host/etc/cni/

[2021-08-06 01:03] shaneutt opened #131 "Github Discussions"
Just wanted to request enabling discussions for this repository if the maintainers are open to it?

Looking for something less structured than issues, but I didn't see anything in the README.

[2021-08-17 10:49] rthakur-est commented on #110
We have tried #127 on a 100 node setup with deployment/undeployment of 500 pods with 2500 ms backoff configuration. It solved the problem of both duplicate IP assignment and stale IPs. Following was the time taken -
a. Deployment - 4 min 34 seconds
b. Undeployment - 5 min 49 seconds

[2021-08-18 20:32] dougbtv commented on #131
Sounds great to me Shane! I went ahead and enabled them. Thanks for the suggestion

[2021-08-18 20:32] #131 closed

[2021-08-18 21:16] dougbtv opened #133 "Concept of "IP Address Domains""
Per recently mentioned to me about the concept of "IP address domains" that... you don't have to care about the overlapping of IP addresses if they're in "different domains"

For example, say you have two different isolated and private networks -- it doesn't matter if the IP address spaces overlap.

With the overlappingipranges functionality in Whereabouts, well, you can disable it so you don't ha

[2021-08-20 14:09] #125 closed

[2021-08-24 23:49] xagent003 commented on #75
Hi @dougbtv Is there any update on this? Is the new ip-reconciler intended as a complete fix for this?

[2021-08-30 19:07] kmedidi opened #136 "Installation path in README is wrong"
Change
[code]

[2021-08-31 02:00] calvin0327 opened #137 "The wrong installion guide for the yaml to k8s"
The master branch, The directory of yaml is wrong. It's will be "path/to/doc/crds/*.yaml"

[2021-08-31 14:50] lchimbili opened #138 "Query: Static ip allocation on multus interface for pods in a Statefulset"
Static plugin allows IP allocation to a single pod instance in a Statefulset.
Whereabouts is the solution to dynamically allocate IP address from a given IP range to multiple instances of a Statefulset.

However, please suggest if it is possible to use Whereabouts to allocate static IP to each pod instance of a Statefulset from a given IP range.

I was thinking about using CNI_ARGS to pass the pod

[2021-08-31 15:00] dougbtv opened #139 "Use example documentation IP address ranges"
Currently we have general IP addresses:

[code]

These should be updated to use the official example ranges.

[2021-08-31 15:06] sureshkrishnan commented on #139
Please use this prefix for IPv6 examples

2001:db8::/32

and use one of these prefixes for IPv4 examples

192.0.2.0/24
198.51.100.0/24
203.0.113.0/24

These are reserved blocks expressly for the purpose of documentation (and hence avoiding clashes with any user assigned addresses).

[2021-08-31 16:58] #136 closed

[2021-08-31 16:58] #137 closed

[2021-09-09 02:52] zhanggbj commented on #14
Hi @dougbtv,

As k8s is already working on dual-stack support, I'm wondering if there's any plan or expected date to support dual stack for whereabouts? Thanks!

I'm asking since we have some scenarios using multus-cni + whereabouts in a dual-stack environment.

[2021-09-16 16:34] ustuzhanin opened #140 "Potential problem in ip-reconciler. Maybe deleted ip allocations for existing pod"
In code we a first get list of all pods? then read ippools and check podref with list of pods.
It is not taken into account that between reading the list of pods and reading ippool, pods can still be created

Perhaps it is worth removing the optimization and checking the presence of each pod with a separate call

[2021-09-17 06:16] rthakur-est opened #141 "error not returned when context time out occurs while updating ip pool CRD"
The plugin doesn't return context timeout error when timeout happens while updating the ippools CRD.
This results in IP being allocated to container but the same IP is not reflected in the k8s datastore and finally causes duplicate IP allocation.
This had happened when there were lots of stale entries in the ippools CRD and reasonable load on apiserver/etcd.

[2021-09-20 11:04] martinkennelly commented on #141
I was just about to file this issue, are you talking about this line not returning the err object: https://github.com/k8snetworkplumbingwg/whereabouts/blob/3dacc67009e2b9021f712aafabb1bd10f510736d/pkg/storage/kubernetes/ipam.go#L436

[2021-09-20 11:08] rthakur-est commented on #141
Yes.

[2021-09-20 11:15] martinkennelly opened #144 "Massive perf boost if we enable ReleaseOnCancel for LE"
During testing, I see a great perf boost if we enable [ReleaseOnCancel](https://pkg.go.dev/k8s.io/client-go/tools/leaderelection#LeaderElectionConfig) for LE.

I think, its a good idea to enable this feature. We only cancel LE context after we are finished operations on the data that the lease is protecting.

[2021-09-20 11:58] martinkennelly commented on #144
3 node master + 30 workers.

Right now with current master:
Number of pods 1200: All created: 137m

With ReleaseOnCancel enabled + PR #142:
Number of pods 1200: All created: 3m25s, All deleted: 7m56s
Number of pods 2400: All created: 17m49s, All deleted: 21m27s
Number of pods 3000: All created: 26m, All deleted: 31m

@rthakur-est can you replicate this?

[2021-09-20 12:30] rthakur-est commented on #144
I will ask my team to try this.

[2021-09-20 13:12] martinkennelly commented on #144
See here: https://github.com/k8snetworkplumbingwg/whereabouts/pull/145

[2021-09-20 23:36] xagent003 commented on #130
+1 I am seeing this too.

It does not happen when using the default interface name of "net1". But in the Pod spec, if we override the interface name to something like "eth1", 5 minutes later after the ip-reconciler has run, I see the IP Pool allocation has been cleaned up.

For example, in my Pod spec here, I have overridden the interface name used. I think the only way to do this is on a Per-Pod

[2021-09-21 06:48] xagent003 commented on #140
Do you think perhaps you're hitting this issue? https://github.com/k8snetworkplumbingwg/whereabouts/issues/130

I submitted a PR for it: https://github.com/k8snetworkplumbingwg/whereabouts/pull/147

which seems to fix the issue when you use non default Multus interface names. Is that your case?

[2021-09-22 12:26] salanki commented on #15
+1

[2021-09-30 14:28] #144 closed

[2021-10-04 08:57] martinkennelly opened #153 "WB E2E test is seeing duplicate IPs assigned to pods when using KinD"
Hey @dougbtv,

I see the e2e test using KinD is causing duplicate IPs to be assigned to pods. I repo'd it locally. I can see that cmdDel is being called sometimes within the cmdAdd timelimit. What happens then is you may have a cmdAdd that finishes, returns it's IP, but then cmdDel removes the entry from IP Pool. It then gets assigned out to other pods.

During my testing, I wasn't testing using m

[2021-10-04 09:07] martinkennelly commented on #153
Also, I saw the cmdDel execute after 25s after cmdAdd on KinD in the logs. Don't understand why.

[2021-10-08 09:14] uablrek commented on #62
IMO whereabouts should re-use the [host-local configuration](https://www.cni.dev/plugins/current/ipam/host-local/) for multiple addresses rather than invent something new. Simpler for users and developers and no need for extra documentation.

[2021-10-13 05:49] #141 closed

[2021-10-18 03:15] rupang790 opened #157 "error in getting result from AddNetwork: failed to set up IPAM plugin type "whereabouts" from the device"
In my OKD Cluster(4.5), I am testing to use Multus network with whereabouts.
For the testing, mtacvlan and SR-IOV were used with Deployments and IP allocation was worked well.
However, after rebooting the Worker(host), some deployments could not create pods with error as:
`error in getting result from AddNetwork: failed to set up IPAM plugin type "whereabouts" from the device`

[ Macvlan whereabou

[2021-10-20 02:37] rupang790 commented on #157
By the https://gist.github.com/dougbtv/076d63f5204a35d65ab4952e77199d56#file-readme-md, I found the way to clear IPPools. I will close this issue, but If there is other way to clear IPPools automatically, please give me a comments.

[2021-10-20 02:37] #157 closed

[2021-11-02 05:48] zhanggbj opened #160 "[Question/Request] What's the target date of next whereabouts release?"
Hi

I noticed the last release `0.4.2` is published several months ago (Jul 08, 2021). And since that, there're lots of changes based on the commit log, so I'm wondering if there's any plan to publish a new release recently. Thanks!

I'm asking as I'm working on packaging whereabouts to make it a package for users to manage it easily on [TCE](https://github.com/vmware-tanzu/community-edition/tree/

[2021-11-02 15:02] GaneshVKadam commented on #70
Hello Dough,

We are facing the attached issue with multus network attachments , none of the multus PODS are comming up.
Below is the error from teh POD:

Warning FailedCreatePodSandBox 14m (x11860 over 27h) kubelet (combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "4e5a8ac872e8f5ff13ef33ab71d4250959a3e8f4fb2e70c720ae2

[2021-11-05 13:15] dougbtv commented on #160
@zhanggbj -- thank you for bringing this up at the NPWG.

We've tagged a new release @ https://github.com/k8snetworkplumbingwg/whereabouts/releases/tag/v0.5

[2021-11-05 13:15] #160 closed

[2021-11-08 02:37] zhanggbj commented on #160
Cool! Thanks @dougbtv for the quick action.

[2021-11-08 21:12] xagent003 opened #162 "ip-reconciler race condition with Whereabouts, leads to IP cleanup and duplicate IPs"
I'm seeing another duplicate IP issue caused by an accidental IP cleanup, it appears the ip-reconciler CronJob has a race condition with whereabouts allocating IPs. I see whereabouts allocates a certain IP to a Pod, Patches the IPPool CR, and updates resourceversion... all good so far.

However, if the ip-reconciler Job runs at the right time (Change the schedule to 1 minute, to increase the odds)

[2021-11-08 23:56] xagent003 commented on #162
@maiqueb

[2021-11-10 09:42] maiqueb commented on #162
The reasons for which we've decided to actually check if pod X *really* owns the address can be checked in
https://github.com/k8snetworkplumbingwg/whereabouts/pull/118#discussion_r669986763

We could probably remove this condition (check if the IP is present in the pod) if we start relying on pod UIDs rather than names.

... which, afaiu is (right now) not an option since you can't GET by UIDs: ht

[2021-11-10 14:28] TothFerenc opened #163 "Unable to disable OverlappingRanges using the config file"
OverlappingRanges feature is enabled by default, this way:
https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/pkg/config/config.go#L38

Later on, the config file (flatfile) is processed and those values are merged to the actual IPAM config struct.
Once this OverlappingRanges is set to True, we cannot override it to False. I believe the problem is that a boolean variable has no "undefi

[2021-11-10 21:00] xagent003 commented on #162
Do you know under what case that other bug may happen? I was under assumption the reocnciler was for crashed/offine nodes resulting in orpaned IPs. In which case the Pod does not exist anymore.

Otherwise, I was thinking we could only do this IP check for Pods that have Phase: Running in their status(ignore the IP check for any pods in a transient or bad state).

Or, we skip this check only for Po

[2021-11-11 12:49] TothFerenc commented on #83
@dougbtv
This is still a valid issue. In case of /64 subnet, only the first half of the range can be addressed by Whereabouts (v0.5):
from `x:x:x:x::0` to `x:x:x:x:7fff:ffff:ffff:ffff`
But I understand this is something we can live with it :)
Nevertheless it is worth to document it.

[2021-11-12 11:10] maiqueb commented on #162
If (for whatever reason) the pod gets removed (not gracefully, i.e. the CNI del is not sent), the allocation  will linger in the `IPPool`. The stateful set will then create another pod - having the same name - that will be assigned a new allocation.

@xagent003 I think you're right: if we skip the IP address liveness check in the pod's status for **Pending** pods, we quite probably fix the race yo

[2021-11-16 22:32] #130 closed

[2021-11-17 19:38] #162 closed

[2021-12-06 12:40] JanScheurich commented on #110
@dougbtv Has this issue been fixed in the latest whereabouts release 0.5 or 0.5.1?

[2021-12-08 10:55] vivekskrishna opened #168 "Support for pod annotation to overwrite the podref and use implement ip hold timer"
Would like to implement 2 features which will potentially cover a pod moved to a different node and still get same ip back(say for secondary interface)
-  use a annotation which can be used as podref to store in the allocation database
- Implement a ip hold timer so that if the pod is evicted and moves to a different node , it gets back the same ip

this will help pod which use multus retain same

[2021-12-22 20:04] dougbtv commented on #110
Just a note that 0.5.0 and 0.5.1 should have the race condition fixes, I recommend 0.5.1 as it also has some bug fixes for ip reconciliation.

https://github.com/k8snetworkplumbingwg/whereabouts/releases/tag/v0.5.1

[2022-01-05 09:51] antevens opened #170 "Helm charts are out of date (missing ip-reconciler-job, overlappingrangeipreservations)"
It seems like the chart at git@github.com:k8snetworkplumbingwg/helm-charts.git is out of date.

Perhaps it's worth fixing the chart or updating the documents to remove the helm3 sections.

[2022-01-05 09:51] antevens opened #171 "Helm charts are out of date (missing ip-reconciler-job, overlappingrangeipreservations)"
It seems like the chart at git@github.com:k8snetworkplumbingwg/helm-charts.git is out of date.

Perhaps it's worth fixing the chart or updating the documents to remove the helm3 sections.

[2022-01-05 09:51] #171 closed

[2022-01-06 03:31] antevens commented on #170
I created a pull/merge request for changes that worked for me to bring the helm chart up to date with the current master branch.

https://github.com/k8snetworkplumbingwg/helm-charts/pull/13

[2022-01-06 22:08] xagent003 opened #172 "ip-reconciler fails with "context deadline exceeded" while listing IPPools"
The ip-reconciler is repeatedly failing (not just a one off, rare Job). Pod shows in CrashBackoffLoop state, and when we inspect the container logs:

[code]

API server is up and no other workloads show this type of error. The resources are fetch'able via `kubectl get ippools.whereabouts.cni.cncf.io` - to list all pools, or a specific one in detail.

Does the context timeout need to be reset, is t

[2022-01-07 18:37] xagent003 commented on #172
The ListPods may be taking a long time, 9 seconds in this case. Should we increase the timeout or should we be generating a new context for each client API call that takes in a context?

@maiqueb ?

[2022-01-17 19:38] infinitydon opened #175 "ip-reconciler panic: runtime error: slice bounds out of range [:3] with length 2"
Hi,

We encountered an issue with the ip-reconciler but unfortunately the logs from the ip-reconciler pod is not pointing to what the error could be:

[code]

What we think triggered was a wrong next-hop gateway (it was not within the subnet range of the ip pool) in one of the net-attach-def, this was corrected but the ip-reconciler keeps going into crashloopback/error after the configuration was

[2022-01-18 03:14] xagent003 opened #176 "ip-reconciler cleans up incorrect IP, leads to duplicate IP"
Discovered the issue via a duplicate IP scenario. This may be because ip-reconciler uses Pod name. With STS, pod names are always the same.

issue seen is:

1. Node A is rebooted / taken offline or some time. Let's say it had IP 151.2
2. STS Pod is terminated and re-created on a new node B, gets IP 151.1
3. ip-reconciler runs now, while node A is still rebooting (NotReady) or down. We see followin

[2022-01-19 16:23] maiqueb opened #178 "k8s-1.25 - Whereabouts is using deprecated k8s API - CronJob"
Whereabouts is currently using some deprecated endpoints of the Kubernetes API; these logs appear when whereabout is deployed:
[code]

At least the `nodeSelector` can be updated right now - the `CronJob` probably can happen only later on, around k8s-1.24.

[2022-01-20 05:43] ttres commented on #175
Are you using image `ip-reconciler:latest`? If true, revert to the stable tree to fix this.

[2022-01-20 06:28] infinitydon commented on #175
Thanks @ttres - We found out that some worker-nodes were running old container image versions because the latest flag was been used, we have set the image version specifically to use actual stable release version, this will also help to track issues with respect to the whereabout version..

[2022-01-20 06:28] #175 closed

[2022-02-02 21:57] xagent003 opened #182 "ip-reconciler issue with StatefullSet cleanup"
@maiqueb @dougbtv There is a larger problem with StatefulSets and container IDs. My current PR (use the container ID to match when deleting) only fixes one issue https://github.com/k8snetworkplumbingwg/whereabouts/pull/180

A short while back we changed the isPodAlive() to skip pods in Pending phase: https://github.com/k8snetworkplumbingwg/whereabouts/commit/55be906b778f95d2e907fe06d2b1b464f78cf2b

[2022-02-04 13:36] maiqueb commented on #172
I was sloppy enough when I wrote the to use `context.TODO` when listing the pods. I honestly think that is the single reason why we haven't seen this issue before - and at a larger scale.

Would you check #186 ? Odds are it fixes this issue.

[2022-02-09 10:00] akgowda opened #189 "Unable to add default gateway for multiple interface"
unable to add default route for multiple interface.

[code]

output:
[code]

[2022-02-22 18:38] #172 closed

[2022-02-23 02:27] xagent003 opened #198 "Change logging and history for ip-reconciler"
- Change default log-level to debug. The error logging is not useful, all the issue so far have been in non-error conditions. At least for now until the ip-reconciler issues are all fixed and it is stable

 - Change back successfulJobsHistoryLimit to 3 or greater

 - Write to file/volume on host, allow configuring the log file location. The containers get cleaned up, then there is no way to debug

[2022-02-24 08:30] maiqueb commented on #111
I think the best option available for having a static IP address on a pod is to use the [static IPAM plugin](https://www.cni.dev/plugins/current/ipam/static/).

Why do you need to use whereabouts for this scenario @flower01840 ?

[2022-03-01 17:14] maiqueb commented on #153
I think we can close this one; PRs are now able to merge. @dougbtv

[2022-03-01 17:16] maiqueb commented on #112
@dougbtv this can also be closed IMO.

[2022-03-22 12:03] rthakur-est opened #207 "Duplicate IPs due to IP reconciler cleaning up reservation of a newly created pod"
We are seeing that IP reconciler is cleaning up IP reservation of a newly created POD on a cluster with large number of pods. And later this freed IP gets allocated to different POD resulting in duplicate IPs for the PODs.
This is the sequence of events that might have happened -
1. ip-reconciler fetches list of pods
2. while ip-reconciler is fetching pods, pod X gets created and reserves an IP in

[2022-04-09 10:10] Ayush21298 opened #212 "Dual Stack support"
## Type

New feature or Enhancement of existing feature

## Description

Is there any plan for supporting Dual stack in near future ?
*As we all know that Kubernetes v1.20+ started supporting Dual stack and it is a stable feature now.*

Also, at present,  is there any method of assigning multiple IP addresses from different ranges ? *(I couldn't find one)*
If it exists, we can start developing Dua

[2022-04-13 14:49] #182 closed

[2022-05-19 08:55] maiqueb opened #224 "Whereabouts is using an EOLed golang version - 1.16"
Golang 1.16 is EOL, as shown in the [golang supported versions doc](https://endoflife.date/go).

[2022-05-19 16:11] maiqueb commented on #207
Howdy @rthakur-est .

Now that #208 was merged, can we close this issue ? (should have requested you to add a `Fixes: ` clause ... )

[2022-05-20 04:26] #207 closed

[2022-05-20 13:55] Ayush21298 commented on #212
Thank you for your response @maiqueb :)
Sure, that will be a good start. Thank you for inviting me to the bi-monthly call.
Can you please let me know the schedule of the same ?
I could only find the info. about bi-weekly call [here](https://github.com/k8snetworkplumbingwg/community#meetings).

[2022-05-20 16:37] maiqueb commented on #212
Oh I just had my wording word and confused bi-monthly with bi-weekly. That's the one - once every 2 weeks.

[2022-05-22 14:31] cyclinder opened #226 "arm64 docker image"
Hi teams!

Is there an official arm64 image? Thanks

[2022-05-23 14:44] maiqueb opened #230 "Drop `controller-runtime` dependency"
### Discussed in https://github.com/k8snetworkplumbingwg/whereabouts/discussions/205

<div type='discussions-op-text'>

<sup>Originally posted by **maiqueb** March  1, 2022</sup>
Hey,

I've started not long ago a prototype of a reconcile loop for IP addresses for whereabouts `IPPool`s in PR #185 . The approach I'm using just uses the informer / lister / clientSet Kubernetes library objects, which

[2022-05-23 15:59] maiqueb commented on #170
Closing since it appears your proposal got merged in the helm charts repo.

[2022-05-23 15:59] #170 closed

[2022-05-23 16:02] maiqueb commented on #112
I really think this issue was already fixed in #116. Closing for lack of replies confirming it.

[2022-05-23 16:02] #112 closed

[2022-05-23 16:50] dougbtv opened #231 "etcd deprecation"
Also in discussion: https://github.com/k8snetworkplumbingwg/whereabouts/discussions/228

Just looking to get any input on any community members that are still using the etcd support? Over the course of time, we've mentioned that we wouldn't be extending it, and some functionality doesn't apply to the etcd backend.

While the extensible factor of having the multiple backends is a good idea, in prac

[2022-05-23 16:50] dougbtv commented on #231
Also related to #230

[2022-05-25 07:22] hhhybb commented on #212
Sounds cool, and hope to see the dual stack support soon.

[2022-06-02 16:20] akhilles opened #234 "Respect `WHEREABOUTS_KUBECONFIG_FILE_HOST` env var"
From what I can tell, it's currently defined in `./script/install-cni.sh` but ignored. So, it's not possible to force the CNI to use an existing kubeconfig (e.g. `/etc/kubernetes/kubelet.conf`).

Also, if there's already a kubeconfig file at `WHEREABOUTS_KUBECONFIG_FILE_HOST`, I think it's reasonable to just use it and not overwrite it.

[2022-06-05 23:47] Josha96 opened #236 "Service account permission Forbidden, whereabouts v0.5.1"
Currently Receiving error:
`FailedCreatePodSandBox	22 secs ago	Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "2b0c7f000272920859c55c69b6bd086a6042ddd9cbfe414e2e5e2d0c3fb9e083" network for pod "lnlab1-sas-8458dffdb6-25jhp": networkPlugin cni failed to set up pod "lnlab1-sas-8458dffdb6-25jhp_sas" network: [sas/lnlab1-sas-8458dffdb6-25jhp:ipvlan-606

[2022-06-10 14:30] #224 closed

[2022-06-16 14:14] maiqueb commented on #231
Plan is:
- tag a release from latest master, and create a release branch from it.
- get rid of etcd stuff on latest master.
- backport **fixes** (not features) to the etcd branch for 90 days.

Stay tuned to this issue to know when the clock starts ticking ...

[2022-06-23 11:13] chinglinwen commented on #138
I've also want the fixed IP allocation feature, if someone consider to implement it, please consider the following case too.

I'm thinking about two cases:
1. KubeVirt machine also needs static IP for the pod, it has some clue, say a label: `kubevirt.io/vm: vm-centos8`.
2. using fixed mac generated by kubemacpool as clue.

[2022-06-23 13:45] maiqueb commented on #231
OK, the clock started ticking: here's the [new branch](https://github.com/k8snetworkplumbingwg/whereabouts/commits/release/v0.5-etcd).

[2022-06-23 13:52] #83 closed

[2022-06-24 11:28] dougbtv opened #241 "Helm Charts out of date"
Helm charts are out of date from the reference repository. They were referencing the docker.io/dougbtv namespace for images (which I've fixed) but they don't implement the reconciler, or probably the leases.

...We should think about updating them, or removing the instructions from the README until these sync up.

[2022-06-24 11:44] dougbtv opened #242 "Considerations for total processing time during CNI DEL (given that we have the controller)"
If there's API server connectivity problems (or congestion that causes api server throttling), Whereabouts can sit for a long time during CNI DEL causing a pod deletion to take a while.

Could it be possible that we just set some kind of maximum run time for CNI DEL, and then just bail out if we reach it? And then let the controller kick and clean up the address.

I'm not sure what happens with th

[2022-06-28 12:52] JuHyung-Son opened #243 "invalid CIDR when using whereabouts"
when i apply net def with `host-local`

[code]

pod with above cni works well. but when using `whereabouts` pods fail to create

[code]

[code]

[2022-07-05 11:57] maiqueb commented on #242
AFAIU, there **is already** a [timeout](https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/cmd/whereabouts.go#L100). It is defined [here](https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/pkg/types/types.go#L20).

Now ... I just don't understand why have this specific value for deletes.

Furthermore, there's a [timeout on the k8s client](https://github.com/k8snetworkplum

[2022-07-18 11:24] maiqueb opened #252 "[BUG] whereabouts releases manifests point to the latest image"
**Describe the bug**
Whereabouts releases manifests point to the latest image, check [v0.5.3](https://github.com/k8snetworkplumbingwg/whereabouts/blob/v0.5.3/doc/crds/daemonset-install.yaml#L104) for an example.

**Expected behavior**
The manifests for released versions **must** point to the corresponding released version that is known to work.

**Additional info / context**
Updating the latest wh

[2022-07-26 20:35] dougbtv opened #254 "Arm tagged images are actually amd64?"
I got a report that the image from https://github.com/k8snetworkplumbingwg/whereabouts/pkgs/container/whereabouts (tried 0.5.3-arm64 and 0.5.2-arm64

Ran and wound up with:

[code]

And it appears to have run in an amd64 environment

[2022-07-27 21:21] amaheshwari21 opened #255 "[BUG]cronjob-controller Cannot determine if job needs to be started"
**Describe the bug**
Cronjob to release free ips are not getting executed on scheduled interval.

**Expected behavior**
Cronjob to clear free ips into the pool must have executed as per the schedule

**To Reproduce**
Steps to reproduce the behavior:
1. setup whereabouts v0.5.3 on k8s 1.20
2. create and delete multiple multus pods to see IPs are freed up or not.
3.

**Environment**:
- Whereabouts v

[2022-08-02 14:59] maiqueb commented on #252
/close afaiu, this was fixed by #253

[2022-08-02 14:59] #252 closed

[2022-08-03 14:36] toelke commented on #50
I think a feature that would allow using the same IP range on multiple (L2) networks is sensible to have. I like the way of having a `network_name` next to the range and think it allows more flexibility than namespace-scoped IP-ranges.

[2022-08-04 10:01] maiqueb commented on #50
@toelke thanks for pointing me towards this issue, and also for your PR.

I would welcome a PR with a design proposal for this feature.
You can refer to #237 for a good reference on what we're looking for.

Right now, it seems to me everyone wants to achieve a different set of things.

[2022-08-07 15:21] talcoh2x opened #260 "[BUG] OOM on ip-control-loop"
**Describe the bug**
with k8s 1.22 I'm able to see/get more and more issues like
Memory cgroup out of memory: Killed process 643039 (ip-control-loop) total-vm:742792kB, anon-rss:43452kB, file-rss:0kB, shmem-rss:0kB, UID:0 pgtables:240kB oom_score_adj:-997

this error does not seem all the time and I'm also not sure about the impact of that on the PODS.
there is something I can check to understand

[2022-08-07 15:24] talcoh2x commented on #260
![image](https://user-images.githubusercontent.com/34831587/183298347-9c3560b0-678b-4c33-9cf7-cb07a5e8ae5c.png)

[2022-08-07 15:25] talcoh2x commented on #260
from one of the Nodes that I got OOM.  what can increase the Memory like that ?

[2022-08-08 12:35] maiqueb commented on #260
I'm unsure, but, we're still using the requests / limits of when this did not have a dedicated controller - since the whereabouts pods now run a controller that reconciles the IP addresses based on a cron expr, and also makes sure the IPs are gone when pods are deleted, it is bound to require more memory.

[2022-08-09 15:29] deekue opened #262 "[BUG] network controller fails on node restart"
**Describe the bug**
when a node is restarted the Whereabouts pod starts but the network controller fails to connect to the k8s API and retrieve the network-attachment-definitions.  The pod continues, even though it doesn't appear to be able to assign addresses.

if the pod is manually deleted it does restart successfully

**Expected behavior**
the pod should terminate if it can't assign addresses

[2022-08-09 19:51] #231 closed

[2022-08-16 10:10] maiqueb commented on #255
Does this issue reproduce with a [supported Kubernetes version](https://kubernetes.io/releases/#release-history) (1.22 / 1.23 / 1.24) ?

[2022-08-16 10:13] maiqueb commented on #243
The [correct key](https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/pkg/types/types.go#L48) to specify the subnet is named `range` - not subnet.

This is reflected on our [docs](https://github.com/k8snetworkplumbingwg/whereabouts#core-parameters) and [examples](https://github.com/k8snetworkplumbingwg/whereabouts#example-ipam-config).

Please open another issue if you can reproduce it

[2022-08-16 10:13] #243 closed

[2022-08-16 10:18] maiqueb commented on #236
You must also re-provision the updated daemonset [CRD](https://github.com/k8snetworkplumbingwg/whereabouts/blob/master/doc/crds/daemonset-install.yaml#L30).

Make sure to apply all the manifests in the [CRD folder](https://github.com/k8snetworkplumbingwg/whereabouts/tree/master/doc/crds).

Please open another issue if you manage to reproduce this after attempting with the updated manifests.

[2022-08-16 10:18] #236 closed

[2022-08-16 10:27] maiqueb commented on #102
Closing since the linked multus issue is marked as resolved, and offers a way for users to use CNI v0.4.0 and onwards.

[2022-08-16 10:27] #102 closed

[2022-08-18 11:48] dougbtv opened #263 "[BUG] Using the range from-to syntax, some IPv6 addresses fail"
**Describe the bug**
The `"range"` configuration parameter allows addresses in a from-to format, e.g.

[code]

Which would allocate 5 IPv6 addresses. Some IPv6 addresses however, wind up parsing into a name key for the CRD names that are invalid. With the above range resulting in an error such as:

[code]

**Expected behavior**
Parses properly.

**To Reproduce**
Steps to reproduce the behavior, us

[2022-08-18 13:56] nicklesimba commented on #262
Hello, what kind of cluster are you using? Upstream kubernetes?

[2022-08-18 14:48] deekue commented on #262
I'm using the kubernetes included with Talos
[code]

[2022-09-01 15:00] Ayush21298 opened #267 "Install test tools in project-local directory"
## Enhancement

### Issue

1. Currently, when `make test` is run, `controller-gen@v0.4.1` is installed globally in `GOBIN`.
When working with multiple projects, this creates conflict and leads to overwriting of the previous version of `controller-gen` already installed in the machine.

2. There is no installation procedure included for `staticcheck` in the `Makefile` or `hack/*.sh`. Due to this, t

[2022-09-07 19:46] #267 closed

[2022-09-09 04:29] subhamkrai opened #269 "[BUG] cronJob error when installing cluster in k8s v1.25.0"
**Describe the bug**
We are using these YAML
[code]
 to install multus and configure the network in minikube single node cluster for our CI testing([here are details steps](https://github.com/rook/rook/blob/master/tests/scripts/github-action-helper.sh#L431)). We can't upgrade our CI to use latest k8s version due error
[code]

We are using v0.5.3 and I see in latest release `/ip-reconciler-job.yaml

[2022-09-11 17:13] Ayush21298 commented on #212
@dougbtv can you please assign this issue to me based on #250 ? :)

[2022-09-19 19:21] lHumanizado commented on #254
Same error here, i solved cloning the repository and building my own image using Dockerfile.arm64 file

[2022-09-22 13:45] maiqueb commented on #178
Same as #269 .

[2022-09-30 14:58] maiqueb commented on #230
Closed by #225 .

[2022-09-30 14:58] #230 closed

[2022-10-17 10:15] tjjh89017 opened #274 "[BUG] Dependency upgrade and release new version Whereabouts image"
**Describe the bug**
A clear and concise description of what the bug is.

Some go dependency is out of date.
Do we plan to upgrade the versions of dependencies and avoid some potential security issues?
And release a new version whereabouts image.
Thanks a lot

**Expected behavior**
A clear and concise description of what you expected to happen.

packages and dependencies are up to date

**To Repro

[2022-10-28 13:41] nomansland1 opened #275 "Error in deallocating IP/Error in assigning IP using Multus networking"
I have an issue when I delete a pod and cluster recreates it back it is having a process of hanging-up. The pod stays init state. Logs on the node shows:( whereabouts.log)
Please help me on how I can resolve this issue.
2022-10-27T20:37:28Z [error] Error deallocating IP: did not find reserved IP for container ceba7e73aca9c41cc72703446cd72fe93305e295c5d294e9910e046494c6d512
2022-10-27T20:37:30Z [er

[2022-11-03 19:21] #212 closed

[2022-11-10 15:16] Ayush21298 opened #279 "[BUG] go vet fails with undeclared name error"
**Describe the bug**
A clear and concise description of what the bug is.

`go vet` throws following error when run in the root directory of source code.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

`go vet` should throw no error

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/k8snetworkplumbingwg/whereabouts`
2.

[2022-11-10 15:33] maiqueb commented on #279
You just have to pass the test tags via CLI - `go vet --tags=test ./...` , as our [CI is doing](https://github.com/k8snetworkplumbingwg/whereabouts/blob/de88984d7952111fedcda4ce583c459716ef60d8/hack/test-go.sh#L9).

[2022-11-10 15:33] #279 closed

[2022-11-10 15:40] Ayush21298 commented on #279
But shouldn't all the test related files have `+build test` tag ? :thinking:

[2022-11-10 15:43] maiqueb commented on #279
the tests ? Why would you put the tests in a binary ?

[2022-11-13 12:36] BurlyLuo commented on #59
[code]
[code]

[2022-11-13 13:03] BurlyLuo commented on #59
Another method is SBR:
[code]

[2022-11-14 16:58] jdavidson2021 commented on #139
Did anyone test this example on a pod to make sure the pod can actually reach the gateway?

      "ipam": {
        "type": "whereabouts",
        "range": "2001::0/116",
        "gateway": "2001::f:1"
      }

The gateway is outside of the configured network range.  Shouldn't there be a requirement for the gateway to be within the assigned range?

[2022-11-15 01:06] Ayush21298 commented on #279
Actually `pod_control_test.go` requires `podSpec` here
https://github.com/k8snetworkplumbingwg/whereabouts/blob/acddfd52abb3da37b4403cecaed53bd21ef6a0c3/pkg/controlloop/pod_controller_test.go#L72

This is defined in `entity_generator.go` here
https://github.com/k8snetworkplumbingwg/whereabouts/blob/acddfd52abb3da37b4403cecaed53bd21ef6a0c3/pkg/controlloop/entity_generators.go#L53-L60

But `entity_g

[2022-11-15 09:04] maiqueb commented on #279
I think I don't understand what you mean; `pod_control_test.go` - along with anything not reachable from the main entrypoint of either the pod controller or the CNI plugin - will not be present in the binary, hence, there is no need to tag it.

[2022-11-17 15:33] Ayush21298 commented on #279
Continuing from the call, yes I agree it will be better to remove the tags from the files which don't require tags :)

I was just concern that all the `go vet` with and without tag should pass independently (all the dependent files should either have tags or don't i.e. kind of independent sets ) :)

[2022-11-17 15:39] Ayush21298 opened #283 "Update License in all the files"
# Enhancement

## Issue

The project uses Apache-2.0 license which requires the LICENSE boilerplate to be added in all the files separately, which is missing in the project.

## Suggestion

Add LICENSE boilerplate in all the `*.go` files.

[2022-11-17 15:39] Ayush21298 commented on #283
@dougbtv can you please assign this task to me ?

[2022-11-17 15:42] Ayush21298 opened #284 "Add NOTICE to the project"
# Enhancement

## Suggestion

As discussed on the call, we should add NOTICE to all the projects in _k8snetworkplumbingwg_ with Apache-2.0 license.

[2022-11-17 15:42] Ayush21298 commented on #284
@dougbtv can you please assign this task to me ?

[2022-11-18 02:57] infinitydon opened #286 "[RFE] Support BoundServiceAccountTokenVolume (Needed For k8s 1.21 and above)"
**Is your feature request related to a problem? Please describe.**

The [BoundServiceAccountTokenVolume](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume) feature is enabled by default in Kubernetes version 1.21 and later. This currently affects whereabouts and currently the only workaround is to restart the PODs so as to get new to